In [2]:
# Dealing with imports
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [20]:
MODEL_NAMES = ['a2c', 'a2c_lstm', 'ppo2', 'dqn', 'acer', 'acer_lstm']
MAPPING_DICTIONARY ={
    'a2c': 'A2C',
    'a2c_lstm': 'A2C (LSTM)',
    'ppo2': 'PPO2',
    'dqn': 'DQN',
    'acer': 'ACER',
    'acer_lstm': 'ACER (LSTM)'
}

# Function to get dataframe in 10 seperate spots
def get_nlength(n):
    ep_summary = []
    for i in range(1, 11):
        for j in range(0, int(n/10)):
            ep_summary.append(i)
    return ep_summary

data_capture = []
for model in MODEL_NAMES:
    data = pd.read_csv(f'../staging/results_drl_{model}.csv')
    print('Filename: ', f'results_drl_{model}.csv')
    print('Number of episodes: ', data.shape[0])
    ep_sum = get_nlength(data.shape[0])
    data['divisor'] = ep_sum
    data['episode_number'] = data.index
    data['model_name'] = MAPPING_DICTIONARY[model]
    data_capture.append(data)

episode_data = pd.concat(data_capture)

Filename:  results_drl_a2c.csv
Number of episodes:  62520
Filename:  results_drl_a2c_lstm.csv
Number of episodes:  62520
Filename:  results_drl_ppo2.csv
Number of episodes:  62520
Filename:  results_drl_dqn.csv
Number of episodes:  62520
Filename:  results_drl_acer.csv
Number of episodes:  62520
Filename:  results_drl_acer_lstm.csv
Number of episodes:  62520

In [21]:
episode_data.head()

,number_of_wins,number_of_losses,number_of_trades,number_of_holds,net_worth,divisor,episode_number,model_name,Number_of_wins
0,79.0,38,134,153,4.36,1,0,A2C,NaN
1,55.0,36,117,149,-7.22,1,1,A2C,NaN
2,54.0,67,122,119,-4.59,1,2,A2C,NaN
3,57.0,46,124,137,110.65,1,3,A2C,NaN
4,63.0,40,120,137,-2.44,1,4,A2C,NaN